{% extends 'VmVmBundle::layout.html.twig' %}

{% block content %}
	<div class="main">
				<div class="indent-left">
					<div class="wrapper">
					<p><h3><b>Permintaan anda sudah dibuat</b></h3></p>
					<article class="col-2">
						<p>Terima kasih!</p>
						<p>Anda akan segera mendapatkan email yang berisi link Api, setelah permintaan Anda di-<i>approve</i> oleh Admin.</p>
					</article>
					</div>
				</div>
	</div>

{% endblock %}
